site_name: Chromatix
repo_url: https://github.com/TuragaLab/chromatix/

nav:
  - Home: index.md
  - Getting started:
    - Installing: installing.md
    - Chromatix 101: 101.ipynb
    - Polarisation: polarisation.ipynb
    - Parallelism: parallelism.md
    - Training: training.ipynb
    - Higher Rank Fields: higher_rank.ipynb
    - FAQ: FAQ.md
  - Examples:
    - Holoscope: examples/holoscope.ipynb
    - Computer Generated Holography: examples/cgh.ipynb
    - Digital Micromirror Device: examples/dmd.ipynb
    - Fourier Ptychography: examples/fourier_ptychography.md
    - Synchrotron X-ray Holography: examples/tomography.md
    - Seidel Aberration Fitting: examples/seidel_fitting.ipynb
    - Zernike Aberration Fitting: examples/zernike_fitting.ipynb
  - API:
    - Field: api/field.md
    - Functional: api/functional.md
    - Elements: api/elements.md
    - Systems: api/systems.md
    - Operations: api/ops.md
    - Utilities: api/utils.md

theme:
  name: material
  palette: 
    # Palette toggle for light mode
    - scheme: default
      primary: deep orange
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  features:
    - navigation.sections
    - content.code.copy

plugins:
- mkdocstrings:
    handlers:
      python:
        paths: [src]
        options:
          heading_level: 3
          show_root_toc_entry: false
- mkdocs-jupyter
- search:
    separator: '[\s\-\.]+'

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details

extra_css:
- css/mkdocstrings.css
